.header-profile-window {
	height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #c5cce4;
    cursor: pointer;
    transition: 0.2s all;
    border-right: 1px solid #c5cce4;
}

.header-profile-window:hover {
	background: white;
}

.header-profile-window:hover .header-profile-window-user-details {
	color: #e6eaf2;
	transition: inherit;
}

.header-profile-window-user-icon {
	height: 100%;
	width: 100%;
	border: 1px solid #c5cce4;
	box-sizing: border-box;
}

.header-profile-window-user-details {
	border-right: 1px solid #c5cce4;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    padding-right: 10px;
}

.header-profile-window-user-icon-container {
	width: 35px;
    height: 35px;
	margin: 0px 10px;
}

@media screen and (max-width: 1200px) {
	.header-profile-window {

	}
	.header-profile-window-user-details {
		display: none
	}
}

@media screen and (max-width: 400px) {
	.header-profile-window {
	    width: auto;
	    height: 100%;
	}

	.header-profile-window-user-icon-container {
	    width: 30px;
	    height: 30px;
        margin: 0px 5px;
	}
}

