.header-profile-window {
    width: 200px;
    background: lightgrey;
    border: 1px solid black;
    display: flex;
}

@media screen and (max-width: 1200px) {
	.header-profile-window {
		width: 50px;
	}
}

.header-profile-window-user-icon-container {
	width: 50px;
	padding: 5px;
	border: 1px solid grey;
}

@media screen and (max-width: 400px) {
	.header-profile-window {
	    width: 30px;
	}

	.header-profile-window-user-icon-container {
		width: 30px;
		padding: 0px;
		border: 1px solid grey;
	}
}

.header-profile-window-user-icon {
	height: 100%;
	width: 100%;
	border: 1px solid blue;
	background: white;
}

.header-profile-window-user-details {
	padding: 5px;
	border: 1px solid grey;
	width: -webkit-fill-available;
}

@media screen and (max-width: 1200px) {
	.header-profile-window-user-details {
		display: none
	}
}