.calendar-year-container {
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
    align-items: center;
}

.calendar-year {
	height: 75%;
	width: 75%;
	transition: 0.2s all;
	border-radius: 5px;
	font-size: 1.8em;
    padding: 5%;
    border: 1px solid #c5cce4;
}

.calendar-year.match {
	border: 2px solid #88b0ff;
	animation: 1s matchGlow linear infinite;
}

.calendar-year:hover {
	background: #f2f6fc;
	cursor: pointer;
}

@media screen and (min-width: 1201px) {
	.calendar-year-container {

	}
}

@media screen and (max-width: 1200px) {
	.calendar-year-container {

	}
}

@media screen and (max-width: 1000px) {
	.calendar-year-container {

	}
}

@media screen and (max-width: 800px) {
	.calendar-year-container {
		
	}
}

@media screen and (max-width: 400px) {
	.calendar-year-container {
		width: 33%;
	}

	.calendar-year {
		font-size: 6vw;
	}
}