.container-post-editor {
	height: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.container-post-editor .target-date {
	position: relative;
}

@media screen and (max-width: 450px) {
	.container-post-editor .target-date {
		position: initial;
	}
}