.container-calendar-viewer {
	border: 1px solid red;
}

.calendar-viewer-row {
	height: 120px;
	width: 100%;
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 1201px) {
	.calendar-viewer-row {
		height: 120px;
	}
}

@media screen and (max-width: 1200px) {
	.calendar-viewer-row {
		height: 110px;
	}
}

@media screen and (max-width: 1000px) {
	.calendar-viewer-row {
		height: 100px;
	}
}

@media screen and (max-width: 800px) {
	.calendar-viewer-row {
		height: 90px;
	}
}

@media screen and (max-width: 600px) {
	.calendar-viewer-row {
		height: 70px;
	}
}

@media screen and (max-width: 400px) {
	.calendar-viewer-row {
		height: 40px;
	}

	.calendar-viewer-row.month {
		height: 60px;
	}

	.calendar-viewer-row.year {
		height: 60px;
	}
}