.container-profile-viewer {
	display: flex;
	flex-direction: column;
}

.board-form-input.profile-email {
    font-size: 1em;
    padding: 5px 10px;
}

.profile-viewer-header {
	margin-top: 30px;
	padding: 10px;
	font-size: 1.7em;
    border-bottom: 1px solid #c5cce4;
}

.board-form-text .board-form-input.profile-email {
	margin: 0px;
}