.container-profile-viewer {
	display: flex;
	flex-direction: column;
    border-left: 1px solid #c5cce4;
    border-right: 1px solid #c5cce4;
    height: 100%;
}

.board-form-input.profile-email {
    font-size: 1em;
    padding: 5px 10px;
}

.board-form-text .board-form-input.profile-email {
	margin: 0px;
}

@media screen and (max-width: 400px) {

}