.container-calendar-dropdown {
	display: none;
	position: absolute;
	top: 45px;
	left: 0;
	border: 1px solid lightgrey;
	background: white;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
	font-size: 15px;
}

.container-calendar-dropdown.visible {
	display: flex;
}

.container-calendar-dropdown .menu {
	display: flex;
	flex-direction: column;
}

.container-calendar-dropdown .calendar {
	flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 280px;
}

.container-calendar-dropdown .menu .exit {
	display: none;
}

.container-calendar-dropdown .menu .controller {
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.container-calendar-dropdown .menu .controller .current-date {
    text-transform: capitalize;
    margin: 5px auto;
}

.container-calendar-dropdown .menu .header {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
    margin: 0px;
    color: black;
}

.container-calendar-dropdown .row button {
	border: none;
	margin: 0px;
	padding: 0px;
	font-size: inherit;
	height: 100%;
	background: none;
}

.container-calendar-dropdown .row button:hover {
	color: grey;
	background: whitesmoke;
	border: 1px solid lightgrey;
	border-radius: 0px;
}

.container-calendar-dropdown .days {
	height: 100%;
}

.container-calendar-dropdown .days .row {
	min-height: 0px;
	padding: 0px;
	height: 30px;
	box-sizing: border-box;
}

.container-calendar-dropdown .days .row .dotw {
	text-align: center;
    padding: 0px;
    min-width: 0px;
    width: 14.28%;
    color: grey;
    cursor: default;
}
.container-calendar-dropdown .days .row .dotw:hover {
	color: grey;
}

.container-calendar-dropdown .days .row .day {
    padding: 0px;
    min-width: 0px;
    width: 14.28%;
    line-height: 1em;
}

.container-calendar-dropdown .days .row .no-day {
    width: 14.28%;
}

.container-calendar-dropdown .days .row .day.selected {
	background: lightgrey;
}


.container-calendar-dropdown .months {
	height: 100%;
}

.container-calendar-dropdown .months .row {
	height: 70px;
	padding: 0px;
}

.container-calendar-dropdown .months .row .month {
	width: 25%;
	padding: 0px;
	text-transform: capitalize;
}


.container-calendar-dropdown .years {
	height: 100%;
}

.container-calendar-dropdown .years .row {
	height: 70px;
	padding: 0px;
}

.container-calendar-dropdown .years .row .year {
	width: 33.33%;
	padding: 0px;
}



@media screen and (max-width: 450px) {
	.container-calendar-dropdown {
		top: 40px;
		left: -1px;
		width: 100%;
	    border-radius: 0px;
	    z-index: 420;
	}

	.container-calendar-dropdown .menu .exit {
		display: flex;
	}

	.container-calendar-dropdown .calendar {
	    width: 100%;
	}

}