.container-header-logo-window {
	display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #c5cce4;
    height: 100%;
    width: 50px;
}

.header-logo-window-logo-icon-container {
	height: auto;
	width: auto;
}

.header-logo-window-logo-icon {
    height: 40px;
    width: 40px;
	border-radius: 100%;
}

@media screen and (max-width: 1200px) {
	.container-header-logo-window {

	}
}

@media screen and (max-width: 400px) {
	.header-logo-window-logo-icon {
	    height: 30px;
	    width: 30px;
	}

	.container-header-logo-window {
		flex-basis: 40px;
    	flex-shrink: 0;
	}
}
