.container-header-logo-window {
	display: flex;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #c5cce4;
}

.header-logo-window-logo-icon-container {
	height: 30px;
	width: 30px;
	padding: 0px 5px;
}

.header-logo-window-logo-icon {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
	border-radius: 100%;
}

@media screen and (max-width: 1200px) {
	.container-header-logo-window {
		width: 50px;
	}
}


@media screen and (max-width: 400px) {
	.header-logo-window-logo-icon-container {
		width: 30px;
		padding: 0px;
		border: 1px solid grey;
	}

	.container-header-logo-window {
		width: 30px;
	}
}
