.header-navigation-window {
    width: auto;
    margin-right: auto;
    display: flex;
    height: 100%;
}

.header-navigation-address-dropdown {
    height: 100%;
    position: relative;
}

.header-navigation-address-dropdown:hover .board-address-options {
	display: flex;
}

.board-address-current-board {
	width: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	cursor: pointer;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 700;
}

.board-address-current-board:hover {
	box-shadow: 0px 0px 4px 0px inset #767d91;
}

.current-board-name {
    white-space: nowrap;
}

.board-address-options {
    font-size: 1.2em;
	position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    border: 1px solid #c5cce4;
}

.board-address-option {
	padding: 5px 10px;
	font-size: 1em;
	cursor: pointer;
	border-bottom: 1px solid #c5cce4;
	transition: 0.1s all;
}

.board-address-option:hover {
	background: white;
}



.header-navigation-window-button i {
	font-size: 1.6em;
}

.header-navigation-window-button {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s all;
    border-right: 1px solid #c5cce4;
    flex-basis: 50px;
    flex-shrink: 0;
}

.header-navigation-window-button:hover {
	background: white;
}

.header-navigation-window-button:hover i {
	color: #e6eaf2;
	transition: 0.2s all;
}


@media screen and (max-width: 800px) {

}

@media screen and (max-width: 400px) {
	.header-navigation-window  {

	}

	.header-navigation-window-text {
		display: none
	}

	.header-navigation-window-button {
		width: 30px;
	}

	.header-navigation-window-button {
		width: auto;
		min-width: 0px;
		flex-basis: 40px;
	}

}

