.container-board-list-viewer {
	flex: 1;
    display: flex;
    flex-direction: column;
}

.container-board-list-viewer a.new {
    border: 1px solid lightgrey;
    font-size: 1em;
    color: black;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    background: whitesmoke;
}

.container-board-list-viewer a.new:hover {
	color: grey;
}