.container-board-list-viewer {
	flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.container-board-list-viewer a.new {
    border: 1px solid lightgrey;
    font-size: 1.2em;
    color: black;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    background: whitesmoke;
    width: 400px;
    align-self: center;
}

.container-board-list-viewer a.new:hover {
	color: grey;
}

.container-board-list-viewer > .year {
    font-size: 1.2em;
    margin: 0px 20px;
    color: grey;
    font-style: italic;
}

@media screen and (max-width: 450px) {
    .container-board-list-viewer a.new {
        width: -webkit-fill-available;
        font-size: 1em;
    }

    .container-board-list-viewer {
        padding-top: 5px;
    }
}