.container-profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-profile .profile {
	display: flex;
}

.container-profile .profile-image {
	height: 200px;
    width: 200px;
    background: whitesmoke;
    border: 1px solid lightgrey;
    margin: 20px;
}

.container-profile .profile-image img {
	width: 100%;
    height: 100%;
}

.container-profile .details {
	margin: 20px 20px 20px 0px;
    flex: 1;
	height: 200px;
	display: flex;
    flex-direction: column;
    color: black;
}

.container-profile .details .email {
	font-size: 1.2em;
    padding-top: 10px;
    display: flex;
}

.container-profile .details .username {
	font-size: 1.2em;
    padding-top: 10px;
    display: flex;
}

.container-profile .details .email div, .container-profile .details .username div {
	color: grey;
}

.container-profile .details .menu {
	margin-top: auto;
	display: flex;
}

.board-form .field-header {
	text-align: center;
	margin-top: 20px;
}

.board-form .row .email-new {
	max-width: 300px;
}

.board-form .row .password-old, .board-form .row .password-new {
	max-width: 300px;
}


@media screen and (max-width: 450px) {

	.container-profile .profile {
	    flex-direction: column;
	    align-items: center;
	}

	.container-profile .profile-image {
	    height: 150px;
	    width: 150px;
	    margin: 10px;
	}

	.container-profile .details {
		margin: 0;
	    height: auto;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.container-profile .details .email {
	    font-size: 1em;
	}

	.container-profile .details .username {
	    font-size: 1em;
	    margin-bottom: 30px;
	}

	.container-profile .details .menu {
	    flex-direction: column;
	    align-items: center;
	}

	.board-form .row .email-new {
		max-width: 450px;
	}

	.board-form .row .password-old, .board-form .row .password-new {
		max-width: 450px;
	}


}