.header-menu-window {
    width: 50px;
}

.header-menu-window-menu-button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #c5cce4;
    transition: 0.2s all;
    cursor: pointer;
}

.header-menu-window-menu-button:hover {
	background: white;
}

.header-menu-window-menu-button:hover .window-menu-button-bar {
	background: #e6eaf2;
}

.window-menu-button-bar {
	height: 5px;
    width: 62%;
    margin: 3px 0px;
    transition: 0.2s all;
}

@media screen and (max-width: 400px) {
    .window-menu-button-bar {
        height: 3px;
    }
}