.calendar-month-container {
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
    align-items: center;
}

.calendar-month {
	height: 80%;
	width: 80%;
	transition: 0.3s all;
}

.calendar-month {
	background: lightgrey;
	font-size: 25px;
}

.calendar-month:hover {
	background: grey;
	cursor: pointer;
}

@media screen and (min-width: 1201px) {
	.calendar-month-container {

	}
}

@media screen and (max-width: 1200px) {
	.calendar-month-container {

	}
}

@media screen and (max-width: 1000px) {
	.calendar-month-container {

	}
}

@media screen and (max-width: 800px) {
	.calendar-month-container {
		
	}
}

@media screen and (max-width: 400px) {
	.calendar-month {
		font-size: 6vw;
	}

	.calendar-month-container {
		width: 24.5%;
	}
}