.container-list-viewer-menu {
	width: 100%;
	height: 35px;
	display: flex;
    justify-content: flex-start;
	align-items: center;
	border-top: none;
	box-sizing: border-box;
}

.view-filter-group .board-sub-menu-button.list:nth-child(2) {
	border-left: 1px solid #e6eaf2; 
}

.board-sub-menu-button.list.clear-range:hover {
	color: red;
}

@media screen and (max-width: 400px) {
	.container-list-viewer-menu {
		flex-direction: column;
		justify-content: unset;
		height: auto;
	}

	.view-filter-date-range-button {
		min-width: 40%;
	}
}