.view-filter-group .board-sub-menu-button.list:nth-child(2) {
	border-left: 1px solid #e6eaf2; 
}

.board-sub-menu-button.list.clear-range:hover {
	color: red;
}

.clear-range-button-text {
	height: 21px;
}

@media screen and (max-width: 400px) {
	.container-list-viewer-menu {
		justify-content: unset;
	}

	.view-filter-date-range-button {
		min-width: 40%;
	}

	.clear-range-button-text {
		display: none;		
	}
}