.container-board {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.board-sub-menu {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.board-sub-menu .group {
	display: flex;
}

.board-sub-menu button, .board-sub-menu a {
	border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 5px;
    color: grey;
    cursor: pointer;
    background: none;
    font-size: 1em;
}

.board-sub-menu button:hover, .board-sub-menu a:hover {
	color: lightgrey;
}

.board-sub-menu button:disabled, .board-sub-menu a:disabled {
	color: lightgrey;
}

.board-sub-menu .edit {
	margin-left: auto;
}



@media screen and (max-width: 450px) {
	.board-sub-menu {
		flex-direction: column;
		height: auto;
		align-items: center;
	}

	.board-sub-menu .group {
		width: 100%;
	}

	.board-sub-menu button, .board-sub-menu a {
		flex-grow: 1;
	}
}