.container-board {
	flex: 1;
	height: 100%;
}

.container-board .loading-message {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
}

.container-board .read-error {
	font-size: 1.5em;
	color: #f77878;
	text-align: center;
	margin: 30px;
}