.container-list-viewer {
    height: 100%;
    border-left: 1px solid #c5cce4;
    border-right: 1px solid #c5cce4;
}

.list-viewer-post-list {

}

.list-viewer-new-post-button {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 700;
    transition: 0.2s all;
    border: 1px solid #d3d9eb;
    box-sizing: border-box;
    user-select: none;
}

.list-viewer-new-post-button a {
    transition: 0.2s all;
}

.list-viewer-new-post-button a:hover {
	color: #2f71f4;
}

@media screen and (max-width: 400px) {
    .list-viewer-new-post-button {
        font-size: 1em;        
    }
}