.container-post-viewer {
	height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #c5cce4;
    border-right: 1px solid #c5cce4;
}

.board-sub-menu-button.delete-post:hover {
	color: red;
}

.post-viewer-post {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 1em;
}

.post-viewer-post-header {
	display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #c5cce4;
}

.post-viewer-post-date-container {
    width: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.post-viewer-post-date-day {
    font-size: 2.3em;
    line-height: 1em;
}

.post-viewer-post-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-viewer-post-title {
	font-size: 1.8em;
	font-weight: 700;
}

.post-viewer-post-date div, .post-viewer-post-author div {
	display: inline-block;
}

.post-viewer-post-author {
	font-weight: 700;
    width: fit-content;
    font-size: 1.2em;
}

.post-viewer-post-content {
	height: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size: 1.1em;
}

@media screen and (max-width: 400px) {

    .post-viewer-post {
        padding: 5px;
        font-size: 0.8em;
    }

    .post-viewer-post-header {
        padding-bottom: 5px;
    }

    .post-viewer-post-date-container {
        width: 40px;
    }

    .post-viewer-post-content {
        padding: 5px;
        margin-top: 0px;
    }
}