.calendar-day-container {
	height: 100%;
	width: 14.28%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar-day-container a {
	width: 75%;
	height: 75%;
}

.calendar-day {
	height: 100%;
	width: 100%;
	transition: 0.2s all;
	border-radius: 5px;
}

.calendar-day.none {
	background: whitesmoke;
}

.calendar-day.day {
	font-size: 1.8em;
    padding: 5%;
    border: 1px solid #c5cce4;
}

.calendar-day.match {
	border: 2px solid #88b0ff;
	animation: 1s matchGlow linear infinite;
}

.calendar-day.day:hover {
	background: #f2f6fc;
	cursor: pointer;
}

@keyframes matchGlow {
	0% {
	}
	50% {
		background: #c5cce4;
		border: 2px solid #88b0ff;
	}
	100% {
	}
}

@media screen and (min-width: 1201px) {
	.calendar-day-container {

	}
}

@media screen and (max-width: 1200px) {
	.calendar-day-container {

	}
}

@media screen and (max-width: 1000px) {
	.calendar-day-container {

	}
}

@media screen and (max-width: 800px) {
	.calendar-day-container {
		
	}
}

@media screen and (max-width: 400px) {
	.calendar-day.day {
		font-size: 6vw;
	}
}