.container-contact {
	height: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.container-contact .content {
	flex: 1;
	background: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-contact .header {
    font-size: 2em;
    color: grey;
}

.container-contact .paragraph {
	width: 450px;
	font-style: italic;
	font-size: 1.1em;
	text-align: center;
	margin: 5px 0px 30px 0px;
}

.container-contact .buttons {
	display: flex;
}

@media screen and (max-width: 450px) {

	.container-contact .paragraph {
	    width: -webkit-fill-available;
	}

	.container-contact .header {
		font-size: 1.5em;
	}

}