.container-home {
	display: flex;
	justify-content: center;
	flex: 1;
    flex-direction: column;
}

.container-home .home {
	display: flex;
	flex: 1;
}

.container-home .boards {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-home .boards .header {
	margin: 20px;
	margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
}

.container-home .boards a.new {
	border: 1px solid lightgrey;
    font-size: 1.2em;
    color: black;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    background: whitesmoke;
}

.container-home .boards a.new.first {
	animation: 1.5s firstBoardIndicator linear infinite;
}

.container-home .boards a.new:hover {
	color: grey;
}
 

@media screen and (max-width: 450px) {

	.container-home {
		justify-content: unset;
	}

	.container-home .home {
		flex-direction: column;
		flex: 0;
	}

	.container-home .boards .header {
		font-size: 1.2em;
		margin: 10px;
	}

	.container-home .boards a.new {
	    border: 1px solid lightgrey;
	    font-size: 1em;
	    color: black;
	    padding: 5px;
	    margin: 5px 10px;
	    border-radius: 5px;
	    background: whitesmoke;
	}
	
}

@keyframes firstBoardIndicator {
	25% {
		border: 1px solid #8282dc;
	}
	75% {
		border: 1px solid lightgrey;
	}
}