.container-board-list-post {
    margin: 0px 10px;
    display: flex;
    padding: 0px;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    /* border-radius: 5px; */
    background: none;
}

.container-board-list-post:hover, .container-board-list-post:focus {
	background: whitesmoke;
}

.container-board-list-post .content-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    text-align: left;
    flex: 1;
    min-height: 50px;
}

.container-board-list-post .content-column .title {
    font-size: 1.8em;
    font-weight: bold;
}

.container-board-list-post .content-column .metadata {
	display: flex;
    font-style: italic;
    justify-content: space-between;
    color: grey;
}

.container-board-list-post .content-column .metadata .author .name {
	display: inline-block;
	color: blue;
}

.container-board-list-post .content-column .metadata .created .date {
	display: inline-block;
}

.container-board-list-post .date-column {
	min-height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.container-board-list-post .date-column .box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 5px;
}

.container-board-list-post .date-column .box .day {
	font-size: 1.8em;
    line-height: 1em;
    font-weight: bold;
}

.container-board-list-post .date-column .box .month {

}

@media screen and (max-width: 450px) {
	.container-board-list-post {
		margin: 0px;
	}

    .container-board-list-post .content-column .metadata {
        flex-direction: column;
        font-size: 0.9em;
    }

    .container-board-list-post .content-column .title {
        font-size: 1.4em;
        padding-bottom: 0px;
    }
}