.container-board-button {
	min-height: 50px;
	width: 100%;
	cursor: pointer;
	transition: 0.2s all;
	margin-bottom: 20px; 
	border: 1px solid #6d93de;
	box-shadow: 3px 3px 5px #0000001c;
	border-left: 5px solid #6d93de;
	box-sizing: border-box;
	padding: 5px 10px;
}

.container-board-button:hover {
	border-color: #c5cce4;
}

.container-board-button:hover .board-button-board-name {
	color: #6d93de;
}

.board-button-board-name {
	font-size: 1.4em;
	transition: inherit;
	font-weight: bold;
}

.board-button-board-info-container {
	display: flex;
	flex-direction: row;
	padding-top: 0;
    justify-content: space-between;
}


.board-button-board-blurb {
	font-style: italic;
	font-weight: 500;
}

.board-button-board-post-count {
	font-weight: bold;
}

@media screen and (max-width: 400px) {
	.container-board-button {
		box-shadow: none;
		margin-bottom: 0px;
		font-size: 0.9em;
		padding: 5px;
	}

	.user-activity-list {
		margin: 0px;
		border-radius: 0px;
	}

	.board-button-board-name {
		font-size: 1.5em;
	}

}