.container-calendar-viewer {
	border-left: 1px solid #c5cce4;
    border-right: 1px solid #c5cce4;
}

.calendar-viewer-header-date {
	text-align: center;
    font-size: 2.4em;
    padding-top: 40px;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 300;
}

.calendar-viewer-row {
	height: 13vw;
	max-height: 120px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.calendar-viewer-date-range-text {
	font-size: 1em;
    font-weight: 400;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #88b0ff;
    cursor: pointer;
    transition: 0.2s all;
}

.calendar-viewer-date-range-text:hover {
	color: red;
}

@media screen and (max-width: 400px) {
	.container-calendar-viewer .board-sub-menu {
		flex-direction: column;
	}

	.container-calendar-viewer .board-sub-menu .view-filter-group:nth-child(2) {
		border-top: 1px solid #e6eaf2;
		justify-content: center;
		width: 100%;
	}

	.calendar-viewer-row {

	}

	.calendar-viewer-row.month {
		height: 60px;
	}

	.calendar-viewer-row.year {
		height: 60px;
	}
	
	.calendar-viewer-header-date {
		padding-top: 10px;
		font-size: 1.5em;
	}
}