.container-calendar-viewer {

}

.calendar-viewer-header-date {
	text-align: center;
    font-size: 2.4em;
    padding-top: 40px;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 300;
}

.calendar-viewer-row {
	height: 120px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.calendar-viewer-date-range-text {
	font-size: 1em;
    font-weight: 400;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid #88b0ff;
    cursor: pointer;
    transition: 0.2s all;
}

.calendar-viewer-date-range-text:hover {
	color: red;
}

@media screen and (min-width: 1201px) {
	.calendar-viewer-row {
		height: 120px;
	}
}

@media screen and (max-width: 1200px) {
	.calendar-viewer-row {
		height: 110px;
	}
}

@media screen and (max-width: 1000px) {
	.calendar-viewer-row {
		height: 100px;
	}
}

@media screen and (max-width: 800px) {
	.calendar-viewer-row {
		height: 90px;
	}
}

@media screen and (max-width: 600px) {
	.calendar-viewer-row {
		height: 70px;
	}
}

@media screen and (max-width: 400px) {
	.calendar-viewer-row {
		height: 40px;
	}

	.calendar-viewer-row.month {
		height: 60px;
	}

	.calendar-viewer-row.year {
		height: 60px;
	}
}