.container-home-board {
	border: 1px solid lightgrey;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background: none;
    border-radius: 5px;
    color: black;
    width: 450px;
}

.container-home-board .name {
	font-size: 1.5em;
    margin: 0px 10px;
}

.container-home-board .description {
	margin: 0px 10px 5px 10px;
    text-align: center;
}

.container-home-board .visibility {
    text-align: right;
    font-weight: bold;
    margin: 5px 10px 0px 10px;
    font-size: 0.9em;
    color: #e96565;
    font-style: italic;
}

.container-home-board .visibility.public {
    color: #5b87e9;
}

@media screen and (max-width: 450px) {
    
    .container-home-board {
        margin: 5px 10px;
    }

    .container-home-board .name {
        font-size: 1.2em;
        margin: 0px 10px;
    }

    .container-home-board .description {
        font-size: 0.9em;
    }
}