.container-board-calendar-viewer {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container-board-calendar-viewer > .header {
    font-size: 1.3em;
    padding: 10px;
    padding-bottom: 5px;
    font-style: italic;
    text-align: center;
    color: grey;
}

.container-board-calendar-viewer button.range-type {
    width: fit-content;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #bb506d;
    align-self: center;
    margin: 15px;
    color: #bb3333;
    background: #fff7f9;
}

.container-board-calendar-viewer .motion-div {
	display: flex;
	flex: 1;
}

.container-board-calendar-viewer .post-count {
    position: absolute;
    font-size: 15px;
    bottom: 0px;
    right: 0px;
    font-style: italic;
    border-radius: 5px 0px 0px 0px;
    padding: 2px 4px;
    align-self: center;
    background: #608bea;
    color: #f5f5f5;
    text-transform: lowercase;
    display: flex;
}

.container-board-calendar-viewer .days {
	flex-direction: column;
    display: flex;
    flex: 1;
    padding: 10px;
    padding-top: 20px;
}

.container-board-calendar-viewer .days .row {
    display: flex;
    justify-content: space-around;
    height: 8vw;
    max-height: 80px;
}

.container-board-calendar-viewer .days .row .day {
    background: whitesmoke;
    width: 12%;
    height: 85%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 2em;
    color: grey;
    display: flex;
    position: relative;
    overflow: hidden;
}

.container-board-calendar-viewer .days .row .day.match {
    animation: 1s match linear infinite;
    border-width: 2px;
}

.container-board-calendar-viewer .days .row .day.nomatch {
    opacity: 0.5;
}

.container-board-calendar-viewer .days .row .no-day {
    background: #fafafa;
    width: 12%;
    height: 85%;
    /* border: 1px solid whitesmoke; */
    border-radius: 5px;
    font-size: 2vw;
    color: grey;
    display: flex;
}

.container-board-calendar-viewer .months {
	flex-direction: column;
    display: flex;
    flex: 1;
    padding: 10px;
    padding-top: 20px;
}

.container-board-calendar-viewer .months .row {
    display: flex;
    justify-content: space-around;
    height: 12vw;
    max-height: 110px;
    min-height: 80px;
}

.container-board-calendar-viewer .months .row .month {
	background: whitesmoke;
	width: 20%;
    height: 85%;
    border: 1px solid lightgrey;
    color: grey;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    font-size: 2em;
    position: relative;
    overflow: hidden;
}

.container-board-calendar-viewer .months .row .month.match {
    animation: 1s match linear infinite;
    border-width: 2px;
}

.container-board-calendar-viewer .months .row .month.nomatch {
    opacity: 0.5;
}

.container-board-calendar-viewer .years {
	flex-direction: column;
    display: flex;
    flex: 1;
    padding: 10px;
    padding-top: 20px;
}

.container-board-calendar-viewer .years .row {
    display: flex;
    justify-content: space-around;
    height: 12vw;
    max-height: 110px;
    min-height: 80px;
}

.container-board-calendar-viewer .years .row .year {
	background: whitesmoke;
	width: 20%;
    height: 85%;
    border: 1px solid lightgrey;
    font-size: 2em;
    display: flex;
    color: grey;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.container-board-calendar-viewer .years .row .year.match {
    animation: 1s match linear infinite;
    border-width: 2px;
}

.container-board-calendar-viewer .years .row .year.nomatch {
    opacity: 0.5;
}

@keyframes match {
    50% {
        border-color: #5b8ded;
        background: #e6e6fd;
    }
}

@media screen and (max-width: 800px) {
    .container-board-calendar-viewer .days .row .day, 
    .container-board-calendar-viewer .months .row .month,
    .container-board-calendar-viewer .years .row .year  {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 650px) {
    .container-board-calendar-viewer .post-count div {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    
    .container-board-calendar-viewer .post-count {
        font-size: 10px;
    }

    .container-board-calendar-viewer .days {
        padding: 0px;
    }
    
    .container-board-calendar-viewer .days .row {
        height: 30px;
    }

    .container-board-calendar-viewer .days .row .no-day {
        width: 14.28%;
        height: 100%;
        border-radius: 0px;
        color: grey;
        display: flex;
    }

    .container-board-calendar-viewer .days .row .day {
        width: 14.28%;
        height: 100%;
        border-radius: 0px;
        font-size: 5vw;
    }

    .container-board-calendar-viewer .months {
        padding: 0;
    }

    .container-board-calendar-viewer .months .row {
        height: 50px;
        min-height: 0px;
    }

    .container-board-calendar-viewer .months .row .month {
        width: 25%;
        height: 100%;
        font-size: 5vw;
        border-radius: 0px;
    }

    .container-board-calendar-viewer .years {
        padding: 0px;
    }

    .container-board-calendar-viewer .years .row {
        height: 50px;
        min-height: 0px;
    }

    .container-board-calendar-viewer .years .row .year {
        width: 33.33%;
        height: 100%;
        font-size: 5vw;
        border-radius: 0px;
    }




}