.container-body {
	flex: 1;
	z-index: 4;
	justify-content: center;
	display: flex;
}

.container-body .column {
	width: 1000px;
	display: flex;
}

.body-sub-menu {
	display: flex;
    padding: 10px;
}

@media screen and (max-width: 450px) {
	.body-sub-menu {
		padding: 5px;
	}
}