.container-board-menu {
	display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    /* padding-bottom: 40px; */
    border-bottom: 1px solid whitesmoke;
}


.container-board-menu .menu button, 
.container-board-menu .menu a, 
.container-board-menu .menu .date {
	border-radius: 5px;
	background: none;
	font-size: 1.2em;
    min-width: 40px;
    color: black;
    border: 1px solid grey;
    margin: 5px;
   	padding: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.container-board-menu .menu button:hover, 
.container-board-menu .menu a:hover,
.container-board-menu .menu .date:hover {
	color: grey;
}

.container-board-menu .menu button:disabled {
	color: lightgrey;
}

.container-board-menu .menu .date {
	position: relative;
}


.container-board-menu .menu {
	height: 40px;
	display: flex;
}

.container-board-menu .menu .row {
    padding: 5px;
    display: flex;
}

.container-board-menu > .menu > .row > .calendar {
	margin: 0px;
    border: none;
}

.container-board-menu > .menu > .row > .list {
	margin: 0px;
    border: none;
}

.container-board-menu .menu .search-wrapper {
	min-width: 150px;
	display: flex;
}

.container-board-menu .menu .search-wrapper .search {
	width: 100%;
	padding: 5px 10px;
	border: none;
	font-size: 1.2em;
}

.container-board-menu .menu .edit {
	margin-left: auto;
}







.container-board-menu .name {
	margin: 20px 10px 0px 10px;
    font-size: 1.8em;
    text-align: center;
}

.container-board-menu .description {
    margin: 0px 10px 0px 10px;
	font-size: 1.2em;
	font-style: italic;
    text-align: center;
}

.container-board-menu .about {
    display: flex;
    justify-content: center;
    color: grey;
    margin: 5px 10px 30px 10px;
    font-style: italic;
    font-size: 1em;
}

.container-board-menu .about .visibility {
	display: flex;
}

.container-board-menu .about .public {
	color: #5b87e9;
}

.container-board-menu .about .private {
	color: #bb3333;
}

.container-board-menu .about .author {
	display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.container-board-menu .about .author a {
	color: #5775b9;
}

.container-board-menu .about .author a:hover {
	color: #7da5c1;
}


@media screen and (max-width: 450px) {

	.container-board-menu .menu {
	    display: flex;
	    flex-direction: column;
	    height: auto;
	}

	.container-board-menu .name {
	    margin: 0px 10px;
	    font-size: 1.5em;
	    text-align: center;
	}

	.container-board-menu .description {
	    margin: 0px 10px 0px 10px;
	    font-size: 1em;
	    font-style: italic;
	    text-align: center;
	}

	.container-board-menu .menu .edit {
	    margin-left: auto;
	    padding: 5px 0px;
	}

	.container-board-menu .menu .wrapper .search {
	    border-top: 1px solid lightgrey;
	    border-bottom: 1px solid lightgrey;
	    font-size: 1em;
	    padding: 5px;
	}

	.container-board-menu .menu button.date {
		font-size: 1.1em;
		margin: 0px;
		border-radius: 0px;
		border: none;
		border-bottom: 1px solid lightgrey;
	}

	.container-board-menu .about {
		margin: 0px 10px 30px 10px;
	}

}