.container-landing {
	display: flex;
	justify-content: center;
	flex: 1;
    flex-direction: column;
    align-items: center;
}

.container-landing > .title {
	font-size: 2.5em;
	font-weight: bold;
    text-align: center;
}

.container-landing > .blurb {
	font-size: 1.3em;
    font-style: italic;
    color: #8282dc;
    width: 490px;
    padding: 5px;
    text-align: center;
    margin-bottom: 100px;
}

.container-landing > .buttons .register {
	padding: 5px 10px;
    margin: 10px;
}

.container-landing > .buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container-landing > .buttons > div {
    font-style: italic;
}

.container-landing .buttons div a {
	display: inline-block;
}

@media screen and (max-width: 450px) {
    .container-landing .title {
        font-size: 1.5em;
    }

    .container-landing .blurb {
        font-size: 0.9em;
        margin-bottom: 30px;
        width: auto;
    }

    .container-landing .buttons .register {
        margin: 5px;
        font-size: 1em;
    }

    .container-landing .buttons div {
        font-size: 0.9em;
    }

}