.container-board-menu {
	padding: 0px;
    border: 1px solid #c5cce4;
}

.board-menu-board-name {
	font-size: 30px;
	padding: 15px;
	padding-bottom: 5px;
	font-weight: bold;
}

.container-board-menu-buttons {
	display: flex;
	border-top: 1px solid #c5cce4;
	height: 35px;
	justify-content: flex-start;
    align-items: center;
}

.container-board-menu-buttons a {
	height: 100%;
}

/*.container-board-menu-buttons a:nth-child(3) {
	margin-right: auto;
}*/

.board-format-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    font-size: 1.5em;
    padding: 0px 5px;
    border-right: 1px solid #c5cce4;
    transition: 0.2s all;
}

.board-search-input-container {
	margin-right: auto;
    border-right: 1px solid #c5cce4;
    height: 100%;
}

.board-search-input-container input {
	height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0px 5px;
    font-family: inherit;
}

.board-search-input-container input:focus {
	box-shadow: 0px 0px 4px 1px inset #0000002b;
    border: 1px solid grey;
}

.board-format-button.edit-board {
	width: auto;
    font-size: 1.1em;
    padding: 0px 10px;
    border-left: 1px solid #c5cce4;
    border-right: none;
}

.board-format-button:hover {
	background: white;
}

@media screen and (max-width: 400px) {

	.board-menu-board-name {
		font-size: 20px;
		font-weight: bold;
	}

}