.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	overflow-y:scroll;
}

a {
	text-decoration: none;
}

input:focus, textarea:focus {
	box-shadow: 0px 0px 4px 1px inset #0000002b;
    border: 1px solid #c5cce4;
    outline: none;
}

._container-header {
	height: 50px;
	flex-shrink: 1;
	box-shadow: 0px 0px 5px 0px #00000066;
	z-index: 5;
	border-bottom: 1px solid #c5cce4;
}

._container-header-center-column {
	width: 100%;
	height: 100%;
}

._container-body {
	flex: 1;
	z-index: 4;
}

._container-footer {
	height: 50px;
	flex-shrink: 1;
	border: 1px solid orange;
}

._container-sidebar {
	display: none;
	height: 400px;
	width: 300px;
	position: absolute;
	top: 50px;
	right: 0;
	border: 1px solid grey;
}

._container-sidebar.visible {
	display: block;
}

/* NOTE: Container is just that, don't add any additional styling, do it with other more specific elements */
._container-center-column {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* Style for framer motion wrappers */
.motion-div {
	flex: 1;
	height: 100%;
}

@media screen and (min-width: 1201px) {
	._container-center-column {
		width: 1000px;
	}
}

@media screen and (max-width: 1200px) {
	._container-center-column {
		width: 900px;
	}
}

@media screen and (max-width: 1000px) {
	._container-center-column {
		width: 800px;
	}
}

@media screen and (max-width: 800px) {
	._container-center-column {
		width: 100%;
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	._container-center-column {
		width: 100%;
		margin-left: 0;
	}

	._container-header {
		height: 40px;
		flex-shrink: 1;
	}
}


/* Global anims */

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* Global element colours */

.color-1 {
	color: #f8faff;
}

.color-2 {
	color: #767d91;
}

.color-3 {
	color: #e6eaf2;
}

.color-4 {
	color: #d0d0d0;
}

.color-5 {
	color: #6d93de;
}

.color-6 {
	color: #3f4761;
}

.bg-1 {
	background: #f8faff;
}

.bg-2 {
	background: #767d91;
}

.bg-3 {
	background: #e6eaf2;
}

.bg-4 {
	background: #d0d0d0;
}

.bg-5 {
	background: #6d93de;
}

.bg-6 {
	background: #3f4761;
}

