.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	overflow-y:scroll;
	position: relative;
}

/* Global component styles */



a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: none;
	font-family: inherit;
}

a i {
	line-height: inherit !important;
}

a:hover {

}

a:focus {
	outline: none;
	box-shadow: 0px 0px 0px 2px blue inset;
}

input {
	font-family: inherit;
}

input:focus, textarea:focus, select:focus, .div-button:focus {
	box-shadow: inset 0px 0px 0px 2px blue, inset 0px 0px 5px 5px lightgrey;
    border: 1px solid #c5cce4;
    outline: none;
}


button:focus {
	outline: none;
	box-shadow: 0px 0px 0px 2px blue inset;
}

.div-button {
	cursor: pointer;
}

button {
	box-shadow: none;
	font-family: inherit;
}

.fas.fa-asterisk {
	animation: 2s spin linear infinite;
    color: grey;
}

.loading-message {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1em;
    flex: 1;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.board-form {
	display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: center;
    flex: 1;
}

.board-form .row > .header, .board-form > .header {
	margin: 10px;
    font-size: 1.5em;
    text-align: center;
}

.board-form .row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.board-form textarea, .board-form input {
	flex: 1;
	font-size: 1.2em;
	white-space: nowrap;
	margin: 15px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	padding: 5px;
	font-family: inherit;
}

.board-form textarea {
	min-height: 200px;
	resize: vertical;
}


button.type-one, a.type-one, .div-button.type-one {
	font-family: inherit;
    border: 1px solid lightgrey;
    font-size: 1em;
    color: #5a4f4f;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background: whitesmoke;
   	width: fit-content;
}

button.type-one:hover, a.type-one:hover, .div-button.type-one:hover {
	color: grey;
}

button.type-two, a.type-two, .div-button.type-two {
	font-family: inherit;
    border: 1px solid #4a951b;
    font-size: 1em;
    color: #4a951b;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background: #eeffec;
    width: fit-content;
}

button.type-two:hover, a.type-two:hover, .div-button.type-two:hover {
	background: #fcfffc;
	color: #87bf64;
}

button.type-three, a.type-three, .div-button.type-three {
	font-family: inherit;
    border: 1px solid lightgrey;
    font-size: 1em;
    color: #5a4f4f;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    background: whitesmoke;
   	width: fit-content;
}

button.type-three:hover, a.type-three:hover, .div-button.type-three:hover {
	color: grey;
}

button.type-three:disabled {
	color: lightgrey;
	border: 1px solid lightgrey;
}

button.type-three.red {
	color: #d9411f;
	border-color: #d9411f;
	background: none;
}

button.type-three.green {
	color: #55a10f;
	border-color: #55a10f;
	background: none;
}

button.type-three.on {
	opacity: 1;
	border-width: 2px;
}

button.type-three.off {
	opacity: 0.5;
}

button.type-two:hover {

}

.type-three.delete {
	margin-top: 40px;
	color: red;
    border-color: red;
    background: #ffebef;
}





/* Mobile Styling */
@media screen and (max-width: 450px) {

	.board-form {
		justify-content: unset;
	}

	.board-form .row > .header, .board-form > .header {
	    margin: 20px 0px 0px 0px;
    	font-size: 1.2em;
	}

	.board-form input, .board-form textarea {
	    padding: 5px;
	    margin: 5px 0px 5px 0px;
	    border-radius: 0px;
	    border-left: 0px;
	    border-right: 0px;
	    font-size: 1em;
	}

}


/* Global anims */

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* Global element colours */

.color-1 {
	color: #f8faff;
}

.color-2 {
	color: #767d91;
}

.color-3 {
	color: #e6eaf2;
}

.bg-1 {
	background: #f8faff;
}

.bg-2 {
	background: #767d91;
}

.bg-3 {
	background: #e6eaf2;
}


/* Style for framer motion wrappers */
.motion-div {
	flex: 1;
	display: flex;
}