.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

._container-header {
	height: 50px;
	border: 1px solid blue;
	flex-shrink: 1;
}

._container-header-center-column {
	width: 100%;
	height: 100%;
	border: 1px solid cyan;
}

._container-body {
	flex: 1;
	border: 1px solid purple;
}

._container-footer {
	height: 50px;
	flex-shrink: 1;
	border: 1px solid orange;
}

._container-sidebar {
	display: none;
	height: 400px;
	width: 300px;
	position: absolute;
	top: 50px;
	right: 0;
	border: 1px solid grey;
}

._container-sidebar.visible {
	display: block;
}

/* NOTE: Container is just that, don't add any additional styling, do it with other more specific elements */
._container-center-column {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	border: 1px solid cyan;
}

@media screen and (min-width: 1201px) {
	._container-center-column {
		width: 1000px;
	}
}

@media screen and (max-width: 1200px) {
	._container-center-column {
		width: 900px;
	}
}

@media screen and (max-width: 1000px) {
	._container-center-column {
		width: 800px;
	}
}

@media screen and (max-width: 800px) {
	._container-center-column {
		width: 100%;
		margin-left: 0;
	}
}

@media screen and (max-width: 400px) {
	._container-center-column {
		width: 100%;
		margin-left: 0;
	}

	._container-header {
		height: 30px;
		border: 1px solid blue;
		flex-shrink: 1;
	}
}

/* Global visibility animation wrapper*/

.visibility-wrapper {
	opacity: 1;
}

.visibility-wrapper.hiding {
	animation: 0.1s hide linear forwards;
}

.visibility-wrapper.showing {
	animation: 0.1s show linear forwards;
}

/* Global anims */

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}