.container-header {
	height: 50px;
	flex-shrink: 1;
	box-shadow: 0px 0px 5px 0px #00000066;
	z-index: 4;
	border-bottom: 1px solid #c5cce4;
}

.container-header a, .container-header button {
	font-size: 1.3em;
	background: none;
	border: 1px solid whitesmoke;
	padding: 5px 10px;
	color: grey;
	font-weight: bold;
	cursor: pointer;
	min-width: 30px;
	border-radius: 0px;
}

.container-header a:hover, .container-header button:hover {
	color: lightgrey;
}

.container-header > .menu {
	height: 100%;
	display: flex;
}

.container-header .menu .home {

}

.container-header .menu .navigate {
	position: relative;	
	display: none;
}

.container-header .menu .navigate.show {
	display: block;
}

.container-header .menu .profile {

}

.container-header .menu .login {
}

.container-header .menu .register, .container-header .menu .logout {
	margin-left: auto;
}

.container-header .menu .menu {
	position: relative;
	padding: 10px;
	display: none;
	justify-content: space-around;
	align-items: center;
    flex-direction: column;
    min-width: 50px;
}

.container-header .menu a.logo div {
	height: 20px;
	width: 20px;
	background: grey;
	border-radius: 100%;
}

.container-header .menu .menu .bar {
	height: 4px;
	width: 100%;
	background: grey;
}

.container-header .menu .menu:hover .bar {
	background: lightgrey;
}


/* Styles for navigation dropdown */

.container-header .menu .navigate .location {

}

.container-header .menu .navigate:hover {
	color: grey;
}


.container-header .menu .navigate .options.show {
	display: flex;
}

.container-header .menu .navigate .options {
	flex-direction: column;
	display: none;
	position: absolute;
    top: 100%;
    left: 0px;
    border: 1px solid grey;
    background: white;
}

.container-header .menu .navigate .options .option {
	padding: 5px 10px;
	white-space: nowrap;
	font-size: 1em;
}

.container-header .menu .navigate .options .option:hover {
	color: lightgrey;
}

/* Styles for menu dropdown */

.container-header .menu .menu .options.show {
	display: flex;
}

.container-header .menu .menu .options {
	flex-direction: column;
	display: none;
	position: absolute;
    top: 100%;
    right: 0px;
    border: 1px solid grey;
    background: white;
}

.container-header .menu .menu .options .option {
	padding: 5px 10px;
	white-space: nowrap;
	font-size: 1em;
}

.container-header .menu .menu .options .option:focus {
	outline: none;
	box-shadow: 0px 0px 0px 2px blue inset;
}

.container-header .menu .menu .options .option:hover {
	color: lightgrey;
}

.container-header .menu .menu .options .option.disabled {
	color: lightgrey;
	cursor: none;
	pointer-events: none;
}


@media screen and (max-width: 450px) {
	.container-header {
		height: 40px;
	}

	.container-header a, .container-header button {
		padding: 10px 5px;
		min-width: 30px;
		font-size: 1.1em;
	}

	.container-header .menu .menu {
		min-width: 40px;
		padding: 5px;
		display: flex;
		margin-left: auto;
	}

	.container-header .menu .menu.has-user {
		margin-left: 0;
	}

	.container-header .menu .menu .bar {
		height: 4px;
	}

	.container-header .menu .login, .container-header .menu .register, .container-header .menu .logout {
		display: none;
	}

	.container-header .menu .profile {
		margin-left: auto;
	}

}